
.collection-landing {

}

.not-banner {
    margin-top: 180px;
}

.map-hotels-list {
    margin-top: 50px;
    width: 100%;
    height: 560px;
    float: left;

    #map-hotels {
        width: 100%;
        height: 100%;
    }
}