h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h1, h2.h2toh1 {
  font-size: 30px;
}



.inner h1 {
    font-size: 30px;
}

.inner {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {

    }
}

article a {
  color: #B1B22C;
}


