/* line 1, ../scss/css.scss */
body {
  margin: 2em 0;
  text-align: center;
}

/* line 6, ../scss/css.scss */
body::before {
  display: none;
  content: '{ "current": "small", "all": ["small"] }';
}

/* line 10, ../scss/css.scss */
body::after {
  content: '{"color-input"}';
}

@media (min-width: 45.75em) {
  /* line 15, ../scss/css.scss */
  body::before {
    content: '{ "current": "medium", "all": ["small", "medium"] }';
  }
}
@media (min-width: 66em) {
  /* line 19, ../scss/css.scss */
  body::before {
    content: '{ "current": "large", "all": ["small", "medium", "large"] }';
  }
}
