


// $global-width: rem-calc(1200);
$global-font-size: 100%;
// $global-lineheight: 1.5;
$primary-color: #173440;
$secondary-color: #e3c659; 
$success-color: #3adb76;
// $warning-color: #ffae00;
// $alert-color: #ec5840;
// $light-gray: #f3f3f3;
// $medium-gray: #cacaca;
// $dark-gray: #8a8a8a;
$black: #0a0a0a;
// $white: #fefefe;
// $body-background: $white;
$body-font-color: $black;
$body-font-family:'Open Sans', sans-serif;

/* Font add by me*/
$base-font-color: $body-font-color;
$base-font-size:$global-font-size;
$base-font-family:$body-font-family;
$secondary-font-family:'Cinzel', serif;
$extra-font:'Fauna One', serif;
/* end Font add by me*/

// $body-antialiased: true;
// $text-direction: ltr;
// $global-margin: 1rem;
// $global-padding: 1rem;
// $global-margin: 1rem;
// $global-weight-normal: normal;
// $global-weight-bold: bold;
// $global-radius: 3px;
// $global-namespace: false;
// $global-text-direction: ltr;
// $rem-base: 16px;


