
/* Font Colors */

$base-font-size:14px;
$base-font-family:'Arimo', sans-serif;
$secondary-font-family:'Playfair Display', sans-serif;;
$base-font-color:#666666;
$base-font-color-inverse:#b9af77;
$secondary-font-color:#4c536c;
$secondary-font-color-inverse:#b9af77;

/* Background Colors */

$primary-color:#4c536c;
$primary-light:lighten($primary-color, 10%);

$secondary-color:#b9af77;
$secondary-light:lighten($secondary-color, 10%);

