@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?bjl1sg');
    src:url('../fonts/icomoon.eot?bjl1sg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff2?bjl1sg') format('woff2'),
        url('../fonts/icomoon.ttf?bjl1sg') format('truetype'),
        url('../fonts/icomoon.woff?bjl1sg') format('woff'),
        url('../fonts/icomoon.svg?bjl1sg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="c-icon-"], [class*=" c-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.c-icon-luxury-toiletries:before {
    content: "\e910";
}
.c-icon-24:before {
    content: "\e911";
}
.c-icon-bottle:before {
    content: "\e90d";
}
.c-icon-air-conditioner:before {
    content: "\e90c";
}
.c-icon-toiletries:before {
    content: "\e90b";
}
.c-icon-iron:before {
    content: "\e602";
}
.c-icon-alarm:before {
    content: "\e605";
}
.c-icon-coffee:before {
    content: "\e60c";
}
.c-icon-desk:before {
    content: "\e60d";
}
.c-icon-hairdryer:before {
    content: "\e60f";
}
.c-icon-tv:before {
    content: "\e610";
}
.c-icon-location:before {
    content: "\e612";
}
.c-icon-safe:before {
    content: "\e611";
}
.c-icon-fridge:before {
    content: "\e616";
}
.c-icon-robe:before {
    content: "\e808";
}
.c-icon-wifi:before {
    content: "\e90e";
}
.c-icon-shower:before {
    content: "\e617";
}
.c-icon-telephone:before {
    content: "\e624";
}
.c-icon-wiping:before {
    content: "\e625";
}

.c-icon-NA:before {
    content: "\e606";
}
.c-icon-menu:before {
    content: "\e900";
}
.c-icon-youtube:before {
    content: "\e901";
}
.c-icon-facebook:before {
    content: "\e902";
}
.c-icon-instagram:before {
    content: "\e903";
}
.c-icon-shareit:before {
    content: "\e904";
}
.c-icon-pinterest:before {
    content: "\e905";
}
.c-icon-twitter:before {
    content: "\e906";
}
.c-icon-newspapers:before {
    content: "\e907";
}
.c-icon-mouse:before {
    content: "\e908";
}
.c-icon-cal:before {
    content: "\e90a";
}
.c-icon-home:before {
    content: "\e909";
}
.c-icon-play:before {
    content: "\e90f";
}
.c-icon-minus:before {
    content: "\e615";
}
.c-icon-plus:before {
    content: "\e613";
}
.c-icon-cross:before {
    content: "\e60a";
}
.c-icon-arrow-thin-left:before {
    content: "\e607";
}
.c-icon-arrow-thin-right:before {
    content: "\e608";
}
.c-icon-plus-circle:before {
    content: "\e600";
}
.c-icon-down:before {
    content: "\e601";
}



