
/* map */

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    z-index: -1;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;   

}


#map_directions {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

#map_directions_controls {

    position: fixed;
    bottom: 56px;
    left: 50%;
    margin-left: -246px;
    padding: 10px;
    background-color: #000;
    font-size: 12px; 
    max-width: 492px;
    width: 100%;

    .map_directions_position {

        position: relative;
        right: 0;
        overflow: hidden;
        

        .map_directions_inner {
            
            width: 100%;
            max-width: 535px;
            float: right;
            text-align: center;

            label {
                color: #fff;
                text-transform: uppercase;
                padding: 0 5px;
            }
            input {
                width: 140px;
                color: #333;
                text-transform: uppercase;
            }
            .submit-button {
                
                color: #fff;
            }

            .fa {
                position: absolute;
                left: -1px;
                top: -3px;
                z-index: 2;
                display: none;
                cursor: pointer;
            }
            
        }  
        .hidden_button_to_open {
            position: absolute;
            width: 154px;
            height: 35px;
            right: 0;
            top: 0;
            z-index: 2;
        }      
    }


}

#fromAddress {
    color: #000;
}

.adp, .adp table {
    width: 100%;
}

@media (max-width:768px) {
    #map_directions_controls {
        position: relative;
        bottom: auto;
        left: auto;
        margin: 0;
    }
}


@media (max-width:480px) {

    #map_directions_controls {
        width: 100%;
        left: 0;
        margin: 0;
    }

    .adp-step, .adp-substep {
        font-size: 12px;
    }

}
