<div class="clearfix"></div>

<div class="four-items-carousel">

    <div class="four-items-holder">
        <div class="item css-animate fadeInLeft" data-wow-delay="0.3s" >
            
            <div class="item-inner-holder pos-r">
                <img src="files/img/item01.jpg" alt="">
                <div class="image-overlay">
                    <div class="image-overlay-inner">
                        <h3>Weddings</h3>
                        <div class="lines-two"></div>
                        <a href="" class="item-read-more">Read More</a>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="item css-animate fadeInUp" data-wow-delay="0.5s">
            
            <div class="item-inner-holder pos-r">
                <img  src="files/img/item02.jpg" alt="">
                <div class="image-overlay">
                    <div class="image-overlay-inner">                    
                        <h3>Garden</h3>
                        <div class="lines-two"></div>
                        <a href="" class="item-read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item css-animate fadeInRight" data-wow-delay="0.7s">
            
            <div class="item-inner-holder pos-r ">
                <img  src="files/img/item03.jpg" alt="">
                <div class="image-overlay">
                    <div class="image-overlay-inner">
                        <h3>Restaurant</h3>
                        <div class="lines-two"></div>
                        <a href="" class="item-read-more">Read More</a>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="item css-animate fadeInRight" data-wow-delay="0.7s">
            
            <div class="item-inner-holder pos-r ">
                <img  src="files/img/item04.jpg" alt="">
                <div class="image-overlay">
                    <div class="image-overlay-inner">
                        <h3>special offers</h3>
                        <div class="lines-two"></div>
                        <a href="" class="item-read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>



    
    </div>
</div>