<div class="clearfix"></div>
<div class="three-items-carousel padding60 carousel-at-footer">
    <div class="container pos-r">
        <div class="row">
            <div class="col-md-12">

                <div class="three-items-holder">
                    <div class="item css-animate fadeInLeft" data-wow-delay="0.3s" >
                        
                        <div class="item-inner-holder pos-r">
                            <img class="image-overlaid" src="files/img/item-inside-01.jpg" alt="">
                            <div class="image-overlay">
                                <a href="" class="click-link"></a>
                                <h3>wedding</h3>
                                <a href="" class="item-read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="item css-animate fadeInUp" data-wow-delay="0.5s">
                        
                        <div class="item-inner-holder pos-r">
                            <img class="image-overlaid" src="files/img/item-inside-02.jpg" alt="">
                            <div class="image-overlay ">
                                <a href="" class="click-link"></a>
                                <h3>Garden</h3>
                                <a href="" class="item-read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="item css-animate fadeInRight" data-wow-delay="0.7s">
                        
                        <div class="item-inner-holder pos-r ">
                            <img class="image-overlaid" src="files/img/item-inside-03.jpg" alt="">
                            <div class="image-overlay ">
                                <a href="" class="click-link"></a>
                                <h3>Restaurant</h3>
                                <a href="" class="item-read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>