<div class="full-width-carousel parent-height">
    <div class="item pos-r">
        
        <img class="md-full-width" src="files/img/bg01.jpg" alt="">

        <div class="overlay full-width text-center container children-height">
            
            <div class="overlay--holder row">
                <div class="col-md-6 col-md-offset-3 margin40">                    
                    <a href="" class="click-link"></a>
                    
                    <div class="overlay--image">
                        <img class="css-animate fadeInDown" data-wow-delay="0.5s" src="files/img/tayto-park-logo.png" alt="">
                    </div>
                    <h2 class="overlay-title css-animate fadeInLeft"  data-wow-delay="0.7s" >Ireland's biggest and most entertaining theme parls</h2>
                    
                    <div class="overlay-content css-animate fadeInRight" data-wow-delay="0.7s">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsa molestiae qui praesentium saepe illo nam ipsum eligendi ab adipisci culpa fugiat molestias architecto ut corporis, excepturi quidem odit sint.

                    </div>
                    <br>
                    <button type="button" class="btn-primary green css-animate fadeInUp" data-wow-delay="0.5s"> Book a Stay </button>    

                </div>                 
            </div>
                
        </div>

    </div>
</div>