<div class="clearfix"></div>
<div class="container padding60 boxes--vertical parent overflow-h">
    <div class="row">
        <div class="xs-full sm-half col-md-3">
            <div class="item css-animate fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.4s" >
                <div class="item-inner full-width c-height-full  pos-r text-center">


                    <img class="full-width image-overlaid data-change-image" data-mobile-image="files/img/image01-small.png" data-desktop-image="files/img/image01.jpg" >

                    <div class="overlay-full-height-gradient"></div>
                    <a class="click-link"></a>
                    <div class="overlay bottom">
                        <h3>Room</h3>
                        <h5>Luxury Accommodation</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo maiores ullam consequuntur nostrum, architecto quo quis repellendus. At magnam eligendi totam ipsa voluptatem nihil officia, hic aperiam soluta, veniam?</p>

                        <button class="btn-primary"> read  more</button>
                    </div>                    
                </div>
            </div>

            <div class="item full-width height-half css-animate fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s" >
                <div class="item-inner full-width pos-r text-center">               
                    <img class="full-width image-overlaid data-change-image" data-mobile-image="files/img/image02.jpg" >
                    <div class="overlay-full-height-gradient"></div>
                    <a class="click-link"></a>
                    <div class="overlay bottom">
                        <h3>Gallery</h3>
                        <h5>see our stunning hotel</h5>
                        <button class="btn-primary"> read  more</button>
                    </div>  
                </div>               
            </div>

        </div>

        <div class="xs-full sm-half  col-md-6">

            <div class=" item full-width  css-animate fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.1s">
    
                <div class="item-inner total-half-height full-width pos-r text-center">

                    <img class="full-width image-overlaid data-change-image" data-mobile-image="files/img/image03.jpg" >
                    <div class="overlay-full-height-gradient"></div>
                    <a class="click-link"></a>
                    <div class="overlay bottom">
                        <img src="../files/img/wedding-logo.png" alt="">
                        <h3 style="font-family:">Wedding</h3>
                        <button class="btn-primary"> read  more</button>
                    </div> 
                </div>
            </div>
            <div class="item full-width  css-animate fadeInRight por-r" data-wow-duration="1.5s" data-wow-delay="0.3s">                
                <div class="item-inner full-width  total-half-height pos-r text-center">
                    <img class="full-width image-overlaid data-change-image" data-desktop-image="files/img/image042.jpg" >
                    <div class="overlay-full-height-gradient"></div>
                    <a class="click-link"></a>
                    <div class="overlay bottom">
                       <img src="files/img/logo-spa.png" alt="">
                        <h3 class="hide">the River Spa</h3>
                    </div> 
                </div>
            </div>
        
        </div>

        <div class="xs-full sm-full col-md-3">

            <div class="sm-half item full-width css-animate height-half  fadeInRight por-r" data-wow-duration="1.5s" data-wow-delay="0.3s">
                
                <div class="item-inner full-width height-full pos-r text-center">
                    <img class="full-width image-overlaid data-change-image" data-desktop-image="files/img/image05.jpg" >
                    <div class="overlay-full-height-gradient"></div>
                    <a class="click-link"></a>
                    <div class="overlay bottom">
                        <h3 style="font-family:">conference </h3>
                        <h5>conference venues in Meath</h5>
                        <button class="btn-primary"> read  more</button>
                    </div> 
                </div>                
                
            </div>
            <div class="sm-half item full-width big css-animate fadeInUp por-r" data-wow-duration="1.5s" data-wow-delay="0.4s">
                

                <div class="item-inner full-width height-full pos-r text-center">
                    <img class="full-width image-overlaid data-change-image" data-desktop-image="files/img/image06.jpg" data-mobile-image="files/img/image06-small.png" >
                    <div class="overlay-full-height-gradient"></div>
                    <a class="click-link"></a>
                    <div class="overlay bottom">
                        <h3 style="font-family:">Self catering</h3>
                        <h5> luxurious self-catering aPARTMENTS</h5>
                        <button class="btn-primary"> read  more</button>
                    </div> 
                </div>  

            </div>           

        </div>
    </div>
</div>

