
<div class="full-width content--main pos-r">
    <div class="container">
        <div class="row page-title-over text-center">
            <span class="page-title-line"><img src="files/img/page-title-line.png" alt=""></span>
            <h1 class="white text-shd">The Castle</h1>
        </div>
    </div>

    {{> snav}}
     
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 padding30 text-center">
                
                <article role="main">     
                    <h4>
                        The restoration of Castle Durrow Country House Hotel, in County Laois, the midlands of Ireland began in 1998. Many of the original 18th and 19th century architectural features were intact and were carefully restored and repaired. 
                    </h4>             
                    <p>
                        The plentiful bedroom accommodation of Lord Ashbrook’s luxurious home was lovingly and individually decorated and furnished by its new owner Shelly Stokes. Each room was given unique attention and created into superior hotel accommodation as if it were to be her own bedroom. This superior hotel accommodation in the midlands of Ireland is distinctive in its many shapes, spaciousness, elegance and attention to detail.
                    </p>
                    <p>
                        Whether you are staying in one of our Oriental Style Bedrooms at the top of the house, in one of the De Luxe Bedrooms in the East Wing, in one of the two-bedroomed Family Rooms, in one of the Castle Yard Rooms, or in one of the very special Master Rooms, you’re sure to enjoy your stay and feel relaxed in the peace and tranquillity that we have at Castle Durrow Hotel.  
                    </p>
                </article>

            </div>
        </div>
    </div>
</div>
