<div class="footer-logos bg-white full-width text-center">
    <div class="container pos-r">
        <div class="row footer-logos-holder">

            <ul  class=" col-md-12">
                <li><a class="gray-image" href=""><img src="files/img/logo-ta.png" alt=""></a></li>
                <li><a class="gray-image" href=""><img src="files/img/logo-ibb.png" alt=""></a></li>
                <li><a class="gray-image" href=""><img src="files/img/logo-hhe.png" alt=""></a></li>
            </ul>                  

        </div>
    </div>

</div>
