
    <div class="full-screen-fixed-top menu">
        <a class="close-btn">
            <i class="c-icon-close"></i>
        </a>
        <div class="container height100">
            <div class="row text-center padding20">
                <a href="/">
                    <!-- <img src="files/img/logo.jpg" alt=""> -->
                </a>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                    
                    <div class="vertical-links pnav">  
                        {{> pnav}}                                                                                  
                    </div>
            
                    <div class="col-xs-12 col-sm-12 col-md-12 horizontal-links">
                        {{> social-icons}} 
                    </div>
          
                </div>
            </div>



        </div>

    </div>