<div class="container gift-voucher">
    <div class="row xs-not-padding">
        <div class="col-md-12">
            <div class="gift-voucher--holder pos-r">
                <img src="files/img/voucher-bg.jpg" alt="">

                <div class="voucher-box hidden-xs" data-bottom="opacity:0; right:-60px;" data-center="opacity:1; right:0;">
                    <img src="files/img/gift-box.png" alt="">
                
                </div>
                <div class="gift-voucher--inner-holder">

                    <h2 class="css-animate fadeInLeft" data-wow-delay="0.4s" >gift voucher</h2>
                    <div class="gift-voucher--content css-animate fadeInRight" data-wow-delay="0.6s">
                        <p>In fuisset minimum facilisis mea, mel nulla soluta sadipscing ei at recteque
                        Ferri partem nonumes ad eum, iusto senserit consectetuer ad duo.</p>                        
                    </div>
                    <a class="btn-primary purple css-animate fadeInUp" data-wow-delay="0.8s">buy now</a>                   
                </div>


            </div>
            
        </div>
    </div>
</div>


