
<div class="header-after full-width">    
    <div class="container">
        <div class="row pos-r">

            <div class="col-xs-12 xs-text-center col-sm-4 col-md-6">
                <a  class="searchbox-trigger on-desktop hidden-xs hidden-sm ">
                    <span>reservations</span>
                    <i class="fa fa-calendar-check-o"></i>
                </a>

                <a href="" class="searchbox-trigger on-tablet-mobile hidden-md hidden-lg">
                    <span>reservations</span>
                    <i class="fa fa-calendar-check-o"></i>
                </a>
                {{> searchbox-horizontal-vertical}}                
            </div>

            <div class="col-xs-12 col-sm-8 col-md-6 horizontal-links header-social-icons ">
                <ul>
                    <li class="voucher-icon">
                        <a href="">
                            <i class="fa fa-gift"></i>
                            <span> <span class="gift">gift </span>vouchers</span>
                        </a>
                    </li>
                    <li class="review-icon">
                        <a href="">
                            <i class="fa fa-comments"></i>
                            <span>review</span>
                        </a>
                    </li>
                    <li class="contact-icon">
                        <a href="">
                            <i class="fa fa-envelope-o"></i>
                            <span>Contact</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="docts-holder hidden-sm hidden-md hidden-lg">
                <div class="more">
                   <i class="fa fa-ellipsis-h"></i>
                    <p>more</p> 
                </div>
                <div class="less">
                   <i class="fa fa-angle-right"></i>
                    <p>less</p>                     
                </div>

                
            </div>

        </div>
    </div>
</div>



