<div class=" snav-holder bg-white padding30 text-center">
    <div class="container">    
        <div class="row">
            <div class="col-xs-12 col-md-12">    
                <ul class="horizontal-links">
                    <li><a href="">Link One</a></li>
                    <li><a href="">Link Two</a></li>
                    <li><a href="">Link Three</a></li>
                    <li><a href="">Link Four</a></li>
                    <li><a href="">Link five</a></li>
                    <li><a href="">Link six</a></li>
                </ul>                
            </div>
        </div>
    </div>
</div>