    <div class="container-fluid">    
        <div class="row snav-holder no-padding">
            <div class="col-xs-12 col-md-12">
                <nav class="snav-container full">                
                    <ul>
                        <li class="first">
                            <a href="">Stay with us</a>
                            <ul>
                                <li class="active">
                                    <a >Events</a>
                                </li>
                                <li>
                                    <a>Events Two</a>
                                </li>
                                <li>
                                    <a>Events Three</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Dine with us</a>

                            <ul>
                                <li class="active">
                                    <a >Events</a>
                                </li>
                                <li>
                                    <a>Events Two</a>
                                </li>
                                <li>
                                    <a>Events Three</a>
                                </li>
                            </ul> 

                        </li>

                    </ul>
                 </nav>
            </div>
        </div>
    </div>
