<div class="full-width gray content--main pos-r">
    <div class="container pos-r">
        <div class="share-button">
            <script type="text/javascript">var switchTo5x=true;</script>
            <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript">stLight.options({publisher: "1d37fb56-cd0e-4818-846e-81052f50792a", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
            <span class='st_sharethis_large' displayText='ShareThis'></span>
        </div>
        <div class="row">
            <div class="col-md-12 padding20 text-center">
                <h1><small>Knightsbrook Hotel</small>Our Social Page</h1>
            </div>
        </div>
    </div>
</div>

<div class="full-width gray pos-r">
      <div class="container">
            <div class="row">

          <div class="col-md-6 social-tabs">
            <div id="social-stream"></div>
          </div>

            <div class="col-md-6 social-vertical">
                <div id="social-stream-pinterest"></div>
<!--                 <div class="social-heading"><img src="files/img/social/pinterest.png" alt=""></div>
                   <div  data-pin data-pin-type='board'
                        data-pin-user='jpjustjen'
                        data-pin-board='places-i-want-to-visit'
                        data-pin-header='no'
                        data-pin-width='responsive'
                        data-pin-height='auto'
                        data-pin-pinwidth='50%'
                        data-pin-limit='5'
                        data-pin-pinbutton='no'
                        data-pin-sourcelink='no'
                        data-pin-descrlength='-1'>
                </div>
 -->
            </div>
            </div>
            <div class="row">
                  <div class="col-md-12 social-horizontal">
                        <div class="social-heading"><img src="files/img/social/instagram.png" alt=""></div>
                        <div id="instagram"></div>
                  </div>
            </div>
      </div>
</div>





