body {
    padding: 0;
    margin: 0;
}
#container {
    position: relative; 
    font-size: 0; 
    height: 100%; 
    width: 100%;
}

.slide {
    border: none; 
    opacity: 0; 
    position: absolute; 
    top: 0; 
    left: 0;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
}
.showMe {
    opacity: 1;
}