/* line 1, ../../scss/styles/components/search-box-pop.scss */
.tiny-form {
  float: left;
  width: 100%;
  padding: 22px 10px;
}

/* line 7, ../../scss/styles/components/search-box-pop.scss */
.tiny-form .title {
  display: none;
}

/* line 10, ../../scss/styles/components/search-box-pop.scss */
.tiny-form > div {
  float: left;
}

/* line 13, ../../scss/styles/components/search-box-pop.scss */
.tiny-form .form-builder-wrapper .field-wrapper {
  overflow: hidden;
  width: 75%;
}

/* line 18, ../../scss/styles/components/search-box-pop.scss */
.tiny-form label,
.tiny-form .label {
  color: #ffffff;
  font-size: 13px;
  text-transform: capitalize;
}

/* line 26, ../../scss/styles/components/search-box-pop.scss */
.tiny-form .form-builder-wrapper .field-wrapper input[type="text"],
.tiny-form #bke_searchbox_wrapper .field-wrapper input[type="text"],
.tiny-form #bke_searchbox_wrapper .field-wrapper .bke_dropdown {
  padding: 2px 0;
  margin: 0;
  border: none;
  text-align: center;
}

/* line 36, ../../scss/styles/components/search-box-pop.scss */
.tiny-form h2 {
  font-size: 45px;
  margin: 0;
}

/* line 40, ../../scss/styles/components/search-box-pop.scss */
.tiny-form #bke_searchbox_wrapper {
  width: 300px;
  padding: 0;
  margin: 0 auto;
}

/* line 46, ../../scss/styles/components/search-box-pop.scss */
.tiny-form ul {
  list-style: none;
}

/* line 50, ../../scss/styles/components/search-box-pop.scss */
.tiny-form ul li {
  list-style: none;
}

/* line 55, ../../scss/styles/components/search-box-pop.scss */
.tiny-form #bke_searchbox_wrapper label,
.tiny-form #bke_searchbox_wrapper input {
  float: left;
  width: 100%;
}

/* line 60, ../../scss/styles/components/search-box-pop.scss */
.tiny-form #bke_searchbox_wrapper label {
  width: 100%;
  text-align: center;
  line-height: 26px;
}

/* line 70, ../../scss/styles/components/search-box-pop.scss */
.tiny-form #bke_searchbox_wrapper .field-wrapper,
.tiny-form #bke_searchbox_wrapper .field-wrapper .label,
.tiny-form #bke_searchbox_wrapper .field-wrapper input,
.tiny-form #bke_searchbox_wrapper .submit-wrapper {
  float: left;
}

/* line 73, ../../scss/styles/components/search-box-pop.scss */
.tiny-form #bke_searchbox_wrapper .field-wrapper .label {
  width: 30%;
  text-align: center;
}

/* line 79, ../../scss/styles/components/search-box-pop.scss */
.tiny-form #bke_searchbox_wrapper .field-wrapper input[type="text"],
.tiny-form #bke_searchbox_wrapper .field-wrapper .bke_dropdown,
.tiny-form #bke_searchbox_wrapper input[type="text"] {
  margin-bottom: 10px;
  padding: 10px 0;
  width: 100%;
  font-size: 18px;
  background-color: #333;
  background-color: rgba(3, 8, 11, 0.2);
  color: #fff;
  border: 1px solid #fff;
}

/* line 91, ../../scss/styles/components/search-box-pop.scss */
.tiny-form #bke_searchbox_wrapper .field-wrapper .bke_drop {
  float: right;
  padding-left: 20px;
}

/* line 96, ../../scss/styles/components/search-box-pop.scss */
.tiny-form #bke_searchbox_wrapper .field-wrapper,
.tiny-form #bke_searchbox_wrapper .submit-wrapper {
  clear: both;
  width: 100%;
}

/* line 105, ../../scss/styles/components/search-box-pop.scss */
.tiny-form .form-builder-wrapper .field-wrapper input[type=text]:focus,
.tiny-form .form-builder-wrapper .field-wrapper select:focus,
.tiny-form .form-builder-wrapper .field-wrapper textarea:focus,
.tiny-form .form-builder-wrapper .field-wrapper input[type=text]:hover,
.tiny-form .form-builder-wrapper .field-wrapper select:hover,
.tiny-form .form-builder-wrapper .field-wrapper textarea:hover {
  border: none;
}

/* line 109, ../../scss/styles/components/search-box-pop.scss */
.tiny-form .hasDatepicker {
  background: url("../images/cal.png") no-repeat scroll 95% center #333333 !important;
  cursor: pointer;
  border: 1px solid #fff;
}

/* line 114, ../../scss/styles/components/search-box-pop.scss */
.tiny-form .hasDatepicker {
  background: url("../images/cal.png") no-repeat scroll 95% center rgba(3, 8, 11, 0.2) !important;
}
