<div class="full-width border-top gray-light content--main pos-r">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 padding60 text-center">

                <small>Knightsbrook hotel</small>
                <h1 class="text-center">luxury accommodation</h1>

                <article role="main" class="row text-left">   
                    <div class="col-md-6">
                        <p>
                            Lorem ipsum dolor sit amet, quo ne harum ocurreret, feugiat urbanitas maiestatis vel ad. Cu labore possim qui. Eum ex nisl tractatos conclusionemque. Velit eligendi eu mea, fugit putant eos cu. Errem exerci vel at, vel ut nusquam sadipscing.
                        </p> 
                        <p>
                            Lorem ipsum dolor sit amet, quo ne harum ocurreret, feugiat urbanitas maiestatis vel ad. Cu labore possim qui. Eum ex nisl tractatos conclusionemque. 
                        </p>                        
                    </div>   
                    <div class="col-md-6">
                        <p>
                            Lorem ipsum dolor sit amet, quo ne harum ocurreret, feugiat urbanitas maiestatis vel ad. Cu labore possim qui. Eum ex nisl tractatos conclusionemque. Velit eligendi eu mea, fugit putant eos cu. Errem exerci vel at, vel ut nusquam sadipscing.
                        </p> 
                        <p>
                            Velit eligendi eu mea, fugit putant eos cu. Errem exerci vel at, vel ut nusquam sadipscing.
                        </p>                                                
                    </div>              


                </article>

            </div>
        </div>
    </div>
</div>
