<header class="header-three-columns fixed top full-width " role="main">
    <div class="folding-container header-folding">
        <div class="folding-parent1">
            <div class="folding-parent2">
                <div class="folding-parent3">

                    <div class="full-width bg-white">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-2 col-sm-3 col-md-4 header--menu left">
                                    <a>
                                        <i class="c-icon-menu"></i>
                                        <span class="hidden-xs" href="/">Menu</span>                    
                                    </a>
                                </div>
                                <a href="/" class="col-xs-8 col-sm-6 col-md-4 header--logo text-center">
                                    <img class="logo" src="../assets/img/logo.png" alt="">
                                </a>
                                <div class="col-xs-2 col-sm-3 col-md-4 header--book right">
                                    <a >
                                        <i class="c-icon-cal"></i>
                                        <span class="hidden-xs" >book a room</span>                    
                                    </a>
                                </div>
                            </div>
                        </div>        
                    </div>
                    <div class="clearfix"></div>
                    {{> searchbox-horizontal}}                    

                </div>
            </div>
        </div>
    </div>


</header>


