    <div class="clearfix"></div>
    <div class="room-features gray-light css-animate fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-md-12 bg-white">
                    <h2 class="text-center">Features</h2>
                        <ul class="room-feature-icons">
                            <li>
                                <a> 
                                    <i class="c-icon-luxury-toiletries"></i>
                                    <span>Ensuite Bathroom<br>with Luxury Toiletries</span>
                                </a>
                            </li>
                            <li>
                                <a> 
                                    <i class="c-icon-tv"></i>
                                    <span>Flat Screen<br>Television</span>
                                </a>
                            </li>  

                            <li>
                                <a> 
                                    <i class="c-icon-24"></i>
                                    <span>Flat Screen<br>Television</span>
                                </a>
                            </li>                        

                            <li>
                                <a> 
                                    <i class="c-icon-telephone"></i>
                                    <span>Flat Screen<br>Television</span>
                                </a>
                            </li>  

                            <li class="no-border">
                                <a> 
                                    <i class="c-icon-coffee"></i>
                                    <span>Tea & Coffee<br>Making Facilities</span>
                                </a>
                            </li> 

                            <li>
                                <a> 
                                    <i class="c-icon-hairdryer"></i>
                                    <span>Tea & Coffee<br>Making Facilities</span>
                                </a>
                            </li>  

                             <li class="no-border">
                                <a> 
                                    <i class="c-icon-iron"></i>
                                    <span>Tea & Coffee<br>Making Facilities</span>
                                </a>
                            </li>   
                            <li>
                                <a> 
                                    <i class="c-icon-luxury-toiletries"></i>
                                    <span>Ensuite Bathroom<br>with Luxury Toiletries</span>
                                </a>
                            </li>
                            <li>
                                <a> 
                                    <i class="c-icon-tv"></i>
                                    <span>Flat Screen<br>Television</span>
                                </a>
                            </li>  

                            <li class="no-border">
                                <a> 
                                    <i class="c-icon-24"></i>
                                    <span>Flat Screen<br>Television</span>
                                </a>
                            </li>                        

                            <li>
                                <a> 
                                    <i class="c-icon-telephone"></i>
                                    <span>Flat Screen<br>Television</span>
                                </a>
                            </li>  

                            <li class="no-border">
                                <a> 
                                    <i class="c-icon-coffee"></i>
                                    <span>Tea & Coffee<br>Making Facilities</span>
                                </a>
                            </li> 

                            <li>
                                <a> 
                                    <i class="c-icon-hairdryer"></i>
                                    <span>Tea & Coffee<br>Making Facilities</span>
                                </a>
                            </li>  

                             <li class="no-border">
                                <a> 
                                    <i class="c-icon-iron"></i>
                                    <span>Tea & Coffee<br>Making Facilities</span>
                                </a>
                            </li>   

                        </ul>    

                    <a class="item-trigger">
                        <i class="c-icon-down"></i>
                    </a>                                            
                </div>
            </div>
        </div>
    </div>