
<footer class="footer-main css-animate fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <address>&#169; <span id="year"></span> Knightsbrook Hotel, Spa and Golf Resort, Dublin Road,Trim, Co. Meath, Ireland</address>
                <ul class="contact-details">
                    <li><a>Telephone +353 46 9482100</a></li>
                    <li><a>Fax +353 46 9482056</a></li>
                    <li class="last"><a href="mailto:info@knightsbrook.com">Email: info@knightsbrook.com</a></li>
                </ul>

            </div>
        </div>
        <div class="row text-center margin30">
                <a href="http://www.netaffinity.com" class="NA-logo" targer="_blank">
                    <i class="c-icon-NA"></i>
                </a>
        </div>
    </div>
</footer>

