<div id="mainslider" class="banner-full-width my_parallax_background">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img class="my_parallax_background" src="files/img/1.jpg" alt="">
                <div class="slide_description_wrapper my_parallax_background_children">
                    <div class="slide_description">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 holder text-left">

                                    <h3 data-animation="fadeInLeft">Tayto Park One Night <br>Family Package</h3>
                                    <p data-animation="fadeInLeft">Tayto Park Meath is one of the first themed parks of its kind in Ireland<br> with over 100 attractions on site in Ashbourne, County Meath.</p>
                                    
                                    <a href="#" class="" data-animation="fadeInLeft">Book Now <i class="fa fa-chevron-circle-right"></i></a>     
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
            </li>
            <li>
                <img class="my_parallax_background" src="files/img/2.jpg" alt="">
                <div class="slide_description_wrapper my_parallax_background_children">
                    <div class="slide_description">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 holder text-left">                        
                                    
                                    <h3 data-animation="fadeInLeft">Made With Love</h3>
                                    <p data-animation="fadeInRight">Responsive and clean design with bunch of features</p>

                                    <a href="#" class="" data-animation="fadeInLeft" >Know More About Us <i class="fa fa-chevron-circle-right"></i></a>
                                    <a href="#" class="" data-animation="fadeInLeft">Purchase this Theme <i class="fa fa-chevron-circle-right"></i></a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
            </li>
            <li>
                <img class="my_parallax_background" src="files/img/3.jpg" alt="">
                <div class="slide_description_wrapper my_parallax_background_children">
                    <div class="slide_description">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 holder text-left">                             
                                    

                                    <h3 data-animation="fadeInLeft">Ultimate Theme</h3>
                                    <p data-animation="fadeInRight">Responsive and clean design</p>

                                    <a href="#" class="" data-animation="fadeInLeft" >Know More About Us <i class="fa fa-chevron-circle-right"></i></a>
                                    <a href="#" class="" data-animation="fadeInLeft">Purchase this Theme <i class="fa fa-chevron-circle-right"></i></a>

                                </div>
                            </div>
                        </div>               

                    </div>
                </div> 
            </li>
        </ul>

    </div>

</div>

