<div class="container-fluid footer-gallery items-four text-center" >
    <div class="row">
        <div class="holder">
            <div class="item">
                
                <a href="files/img/gallery01.jpg">
                    <img class="image-overlaid" src="files/img/gallery01.jpg" alt="" width="400">
                </a>

                <div class="overlay height100 figcaption">
                    <a href="files/img/gallery01.jpg" class="icon-holder icon-holder fancybox" data-fancybox-group="group_fancybox" rel="gallery">
                        <i class="zmdi zmdi-zoom-in"></i>
                    </a>
                </div>    

            </div>
            <div class="item">
                <a href="files/img/gallery02.jpg" class="fancybox">
                    <img class="image-overlaid" src="files/img/gallery02.jpg" alt="" width="400">
                </a>

                <div class="overlay height100 figcaption">
                    <a href="files/img/gallery02.jpg" class="icon-holder icon-holder fancybox" data-fancybox-group="group_fancybox" rel="gallery">
                        <i class="zmdi zmdi-zoom-in"></i>
                    </a>
                </div>                    
            </div>  
            <div class="item">
                <a href="files/img/gallery03.jpg" class="fancybox">
                    <img class="image-overlaid" src="files/img/gallery03.jpg" alt="" width="400">
                </a>

                <div class="overlay height100 figcaption">
                    <a href="files/img/gallery03.jpg" class="icon-holder icon-holder fancybox" data-fancybox-group="group_fancybox" rel="gallery">
                        <i class="zmdi zmdi-zoom-in"></i>
                    </a>
                </div>                    
            </div>  
            <div class="item">
                <a href="files/img/gallery04.jpg" class="fancybox">
                    <img class="image-overlaid" src="files/img/gallery04.jpg" alt="" width="400">
                </a>
                <div class="overlay height100 figcaption">
                    <a href="files/img/gallery04.jpg" class="icon-holder icon-holder fancybox" data-fancybox-group="group_fancybox" rel="gallery">
                        <i class="zmdi zmdi-zoom-in"></i>
                    </a>
                </div>                    
            </div>  
        </div>
    </div>
</div>