<div class="clearfix"></div>
<div class="three-items-carousel margin40">
    <div class="container pos-r">
        <div class="row">
            <div class="col-md-12">

                <div class="three-items-holder">
                    <div class="item css-animate fadeInLeft" data-wow-delay="0.3s" >
                        <h3>tayto pack family <br> package</h3>
                        <div class="item-inner-holder pos-r">
                            <img class="circle" src="files/img/item01.jpg" alt="">
                            <div class="image-overlay circle">
                                <p class="price css-animate fadeInUp" data-wow-delay="0.5s"> <span>&#8364;</span>180</p>
                                <a href="" class="item-read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="item css-animate fadeInUp" data-wow-delay="0.5s">
                        <h3>Boyne Valley Golf <br>Classic 2015</h3>
                        <div class="item-inner-holder pos-r">
                            <img class="circle" src="files/img/item02.jpg" alt="">
                            <div class="image-overlay circle">
                                <p class="price css-animate fadeInUp" data-wow-delay="0.5s" ><span>&#8364;</span>299</p>
                                <a href="" class="item-read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="item css-animate fadeInRight" data-wow-delay="0.7s">
                        <h3>Strawberray Sundae <br>Scrub Spa</h3>
                        <div class="item-inner-holder pos-r ">
                            <img class="circle" src="files/img/item03.jpg" alt="">
                            <div class="image-overlay circle">
                                <p class="price css-animate fadeInUp" data-wow-delay="0.5s"><span>&#8364;</span>99</p>
                                <a href="" class="item-read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>