<div class="call-under-banner full-width hidden-sm hidden-md hidden-lg text-center">
    <a href=""><i class="zmdi zmdi-phone-ring"></i>+353 46 9482100 </a>   
</div>
<div class="full-width gray content--main pos-r">
    <div class="container">
        <div class="row">
            <div class="col-md-12 padding60 text-center">
                <h1>welcome to <br> knightsbrook hotel, spa and golf resort</h1>
                <article role="main">                    
                    <p>
                        Lorem ipsum dolor sit amet, quo ne harum ocurreret, feugiat urbanitas maiestatis vel ad. Cu labore possim qui. Eum ex nisl tractatos conclusionemque. Velit eligendi eu mea, fugit putant eos cu. Errem exerci vel at, vel ut nusquam sadipscing.
                    </p>
                </article>

                <a class="home-content-trigger">
                    <i class="c-icon-down"></i>
                </a>
                

            </div>
        </div>
    </div>
</div>
