<div class="full-width gray content--main pos-r">
    <div class="container pos-r">
        <div class="row">
            <div class="col-md-12 padding20 text-center">

              <h1><small>Knightsbrook Hotel</small>Our Latest News</h1>

              <div class="blog-sort-container">

                <div class="blog-sort sort-order">
                  <span class="option-toggle sort-button"><i class="zmdi zmdi-chevron-down"></i></span>
                  <div class="blog-sort-options">
                    <span>Sort by:</span>
                    <span class="sort-option"><i class="zmdi zmdi-swap-vertical zmdi-hc-fw"></i>A-Z</span>
                    <span class="sort-option"><i class="zmdi zmdi-time zmdi-hc-fw"></i>Latest News</span>
                    <span class="sort-option"><i class="zmdi zmdi-label zmdi-hc-fw"></i>Category</span>
                  </div>
                </div>

                <div class="blog-sort sort-tags">
                  <span class="option-toggle sort-button"><i class="zmdi zmdi-label"></i></span>
                  <div class="blog-sort-options">
                    <span class="sort-option"><i class="zmdi zmdi-hotel zmdi-hc-fw"></i>ROOMS</span>
                    <span class="sort-option"><i class="zmdi zmdi-local-dining zmdi-hc-fw"></i>FOOD & DRINK</span>
                    <span class="sort-option"><i class="zmdi zmdi-sun zmdi-hc-fw"></i>PORTOLIO & WORK</span>
                    <span class="sort-option"><i class="zmdi zmdi-invert-colors zmdi-hc-fw"></i>SPA & FACIAL</span>
                    <span class="sort-option"><i class="zmdi zmdi-wallpaper zmdi-hc-fw"></i>LOCATION</span>
                  </div>
                </div>

                <div class="blog-sort sort-search">
                  <span class="option-toggle sort-button"><i class="zmdi zmdi-search"></i></span>
                  <div class="blog-sort-options">

                    <div class="blog-search-wrapper">
                      <div class="search-field">
                        <input type="text" placeholder="SEARCH...">
                        <i class="zmdi zmdi-close-circle-o close-filter"></i>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </div>
        </div>
    </div>

    <div class="blog-article container">

      <div class="post-banner" style="background-image:url('files/img/1.jpg');">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3 link-container">
            <a href="blog.html" class="link-arrow">
              <i class="zmdi zmdi-chevron-left"></i> Back to list
            </a>
          </div>
        </div>
      </div>

      <div class="post-item-content">

        <div class="row">

          <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">

            <div class="post-header">
              <h2 class="post-title">Lorem Ipsum Dolor</h2>
              <p class="post-date"><i class="zmdi zmdi-calendar"></i> sep 11, 2014</p>
              <span class="post-ico-label"><img src="files/img/blog-ico-bed.png" alt=""></span>
            </div>

            <div class="post-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eveniet corporis in nostrum modi enim suscipit nisi repellendus quibusdam sequi, incidunt, illo, excepturi aliquid! Provident facilis natus eum. Accusamus, esse!</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quo nesciunt ea in, cum enim, tempore impedit ex quam veniam, nam iure nostrum earum sit repudiandae exercitationem nobis! Nisi vero non repellat error recusandae cum asperiores laborum nihil cupiditate libero sit, culpa numquam maiores repudiandae architecto possimus facere, dolorum doloribus!</p>
            </div>

            <div class="post-options">
              <div class="post-social-links">
                <a href=""><i class="zmdi zmdi-facebook"></i></a>
                <a href=""><i class="zmdi zmdi-twitter"></i></a>
                <a href=""><i class="zmdi zmdi-linkedin"></i></a>
                <a href=""><i class="zmdi zmdi-email"></i></a>
                <a href=""><i class="zmdi zmdi-google-plus"></i></a>
                <a href=""><i class="zmdi zmdi-pinterest"></i></a>
              </div>
            </div>

          </div>

        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
            <div class="blog-navigation">
              <a href="" class="link-arrow link-previous"><i class="zmdi zmdi-chevron-left"></i> Back to list</a>
              <a href="" class="link-arrow link-next">Next article <i class="zmdi zmdi-chevron-right"></i></a>
            </div>

            <div class="back-top"><a href=""><i class="zmdi zmdi-chevron-up"></i></a></div>
          </div>

        </div>

      </div>

    </div>

</div>