
<div class="clearfix"></div>
<div class="footer-social-links css-animate fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="xs-full-width text-center" ><a href=""> <span>Conect with Us</span> <i class="c-icon-shareit"></i></a></li>
                    <li><a href=""><i class="c-icon-facebook"></i></a></li>
                    <li><a href=""><i class="c-icon-twitter"></i></a></li>
                    <li><a href=""><i class="c-icon-instagram"></i></a></li>
                    <li><a href=""><i class="c-icon-youtube"></i></a></li>
                    <li><a href=""><i class="c-icon-pinterest"></i></a></li>
                </ul>                
            </div>
        </div>
    </div>
</div>