
<div class="clearfix"></div>
<div class="footer-links text-center css-animate fadeInUp">
    <div class="container">
        <div class="row link-holder">
            <div class="col-md-12">
                <ul>
                    <li><a href=""> Be Notified of Specials</a></li>
                    <li><a href=""> Newsroom </a></li>
                    <li><a href=""> Property </a></li>
                    <li><a href=""> Site Map</a></li>
                    <li><a href=""> Virtual Tour</a></li>
                    <li><a href=""> Awards</a></li>
                    <li><a href=""> Careers</a></li>
                    <li class="last"><a href=""> Privacy Policy</a></li>
                </ul>                
            </div>
        </div>
        <div class="row text-center">

            <div class="menu-toggle hidden-sm hidden-md hidden-lg">
                <div class="one-1"></div>
                <div class="two-1"></div>
                <div class="three-1"></div>
            </div>

        </div>
    </div>
</div>