<div class="footer-logos full-width text-center css-animate fadeInUp">
    <div class="container pos-r">
        <div class="row footer-logos-holder">

            <a class="group-logo"> 
                <img src="files/img/footer-group-logo.png" alt="">
            </a>

            <ul  class=" col-md-12">
                <li><a class="gray-image" href=""><img src="files/img/footer-logo-one.png" alt=""></a></li>
                <li><a class="gray-image" href=""><img src="files/img/footer-logo-two.png" alt=""></a></li>
                <li><a class="gray-image" href=""><img src="files/img/footer-logo-three.png" alt=""></a></li>
            </ul>                  

        </div>
    </div>

</div>
