
    <div class="full-screen-fixed-top menu">
        <a class="close-btn">
            <i class="c-icon-cross"></i>
        </a>
        <div class="container height100">
            <div class="row text-center padding20">
                <a href="/">
                    <img src="files/img/logo-big.png" width="144" alt="">
                </a>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                                    
                    <div class="row">
                        <div class="col-sm-6 col-md-6 border-right">
                            <ul class="vertical-links">
                                <li>
                                    <a href="inside.html">Rooms</a>
                                    <ul>
                                        <li><a href=""> test</a></li>
                                        <li><a href=""> test2</a></li>
                                        <li><a href=""> test3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Dining</a>
                                </li>
                                <li>
                                    <a href="">Weddings</a>
                                </li>
                                <li>
                                    <a href="">Conference</a>
                                </li>
                                <li>
                                    <a href="">River spa</a>
                                </li>
                                <li>
                                    <a href="">Golf</a>
                                </li>
                                <li>
                                    <a href="">Health club</a>
                                </li>
                                <li>
                                    <a href="">Families</a>
                                </li>
                                <li>
                                    <a href="">Deals</a>
                                </li>
                                <li>
                                    <a href="">Join the conversation</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-6 search-box-vertical hidden-xs">
                            <h2 class="white text-center">hotel reservation</h2>


                            <script type="text/javascript">

                                var padout = function(number) {
                                  var number = String(number);
                                  return (number.length < 2) ? '0' + number : number;
                                }
                                jQuery(document).ready(function(){
                                jQuery('#arrival-date').val(padout(jQuery('#bke_arrival_day').val())+'/'+padout(jQuery('#bke_arrival_month').val())+'/'+padout(jQuery('#bke_arrival_year').val()));
                                jQuery('#bke_arrival_day').val(padout(jQuery('#arrival-date').val().split('/')[0]));
                                jQuery('#bke_arrival_month').val(padout(jQuery('#arrival-date').val().split('/')[1]));
                                jQuery('#bke_arrival_year').val(padout(jQuery('#arrival-date').val().split('/')[2]));
                                
                                $("#arrival-date").datepicker({
                                    onSelect: function(selectedDate) {
                                    // custom callback logic here
                                    //alert(selectedDate);
                                    }
                                });


                                jQuery('#departure-date').val(padout(jQuery('#bke_arrival_day').val())+'/'+padout(jQuery('#bke_arrival_month').val())+'/'+padout(jQuery('#bke_arrival_year').val()));

                                $("#departure-date").datepicker({
                                    onSelect: function(selectedDate) {
                                    // custom callback logic here
                                    //alert(selectedDate);
                                    }
                                });                                

                            });  
                            </script>
                                                            
                                <form style="margin: 0px;" name="bke_search" method="post" action="" onsubmit="return bke_check_search();" _lpchecked="1">


                                    <ul id="bke_searchbox_wrapper">

                                        <li class="arrival field-wrapper">
                                            <label>ArriVAL:</label>
                                            <input type="text" id="arrival-date"  class="has_Datepicker">
                                            <input type="hidden" name="bke_arrival_day" value="1" id="bke_arrival_day">
                                            <input type="hidden" name="bke_arrival_month" value="10" id="bke_arrival_month">
                                            <input type="hidden" name="bke_arrival_year" value="2015" id="bke_arrival_year">

                                        </li>
                                        <li class="departure field-wrapper"><label>DEPARTURE:</label>
                                            <input type="text" id="departure-date" readonly="readonly" class="has_Datepicker">
                                            <input type="hidden" name="bke_departure_day" value="22" id="bke_departure_day">
                                            <input type="hidden" name="bke_departure_month" value="10" id="bke_departure_month">
                                            <input type="hidden" name="bke_departure_year" value="2015" id="bke_departure_year">
                                        </li>
                                        <li class="submit-wrapper">
                                            <input type="submit" name="bke_submit" class="submit-button" value="Book Now">
                                        </li>                                        
                                        <li class="ratecode text-center"><input type="text" name="bke_ratecode" size="8" class="bke_drop" style="text-align: center;" onclick="if (this.value == 'Have a Code?') this.value = '';" value="Have a Code?">
                                        </li>


                                    </ul>
                                </form>                 
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <ul class="horizontal-links full-width">
                                <li>
                                    <a class="btn-outline" href="">Gift Voucher</a>
                                </li>
                                <li>
                                    <a class="btn-outline" href="">Gallery</a>
                                </li>
                                <li>
                                    <a class="btn-outline" href="">Review</a>
                                </li>
                                <li>
                                    <a class="btn-outline" href="">Contact us</a>
                                </li>
                            </ul>                        
                        </div>
                        
                    </div>
                </div>
            </div>



        </div>

    </div>