    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master </title>

    <!-- Latest compiled and minified CSS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,700|Cinzel:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{root}}assets/css/plugins.css">    
    <link rel="stylesheet" href="{{root}}assets/css/main.css">  

    <script src="{{root}}assets/js/stack.js"></script>