
<div class="mega-menu overlay items-three text-center">
    <div class="container">
        <div class="row pos-r">
            <a class="close-mega-menu white">
                <i class="c-icon-cross"></i>
            </a>
            <h2 class="toh1 white">Room Types</h2>
            <div class="col-xs-12 col-md-12">
                <div class="holder">
                    <div class="item">
                        <img src="files/img/room-nav-01.jpg" alt="">
                        <a class="overlay height100 figcaption pos-r">
                            <span class="pos-a panel-title">
                                Deluxe
                                <span class="read-more"> Read More <i class="zmdi zmdi-chevron-right"></i></span>
                            </span>
                        </a>                        
                    </div>

                    <div class="item">
                        <img src="files/img/room-nav-02.jpg" alt="">
                        <a class="overlay height100 figcaption pos-r">
                            <span class="pos-a panel-title">
                                Deluxe
                                <span class="read-more"> Read More <i class="zmdi zmdi-chevron-right"></i></span>
                            </span>
                        </a>                             
                    </div>
                    <div class="item">
                        <img src="files/img/room-nav-03.jpg" alt="">
                        <a class="overlay height100 figcaption pos-r">
                            <span class="pos-a panel-title">
                                Deluxe
                                <span class="read-more"> Read More <i class="zmdi zmdi-chevron-right"></i></span>
                            </span>
                        </a>                             
                    </div>
                    <div class="item">
                        <img src="files/img/room-nav-04.jpg" alt="">
                        <a class="overlay height100 figcaption pos-r">
                            <span class="pos-a panel-title">
                                Deluxe
                                <span class="read-more"> Read More <i class="zmdi zmdi-chevron-right"></i></span>
                            </span>
                        </a>                             
                    </div>
                    <div class="item">
                        <img src="files/img/room-nav-05.jpg" alt="">
                        <a class="overlay height100 figcaption pos-r">
                            <span class="pos-a panel-title">
                                Deluxe
                                <span class="read-more"> Read More <i class="zmdi zmdi-chevron-right"></i></span>
                            </span>
                        </a>                             
                    </div>
                    <div class="item">
                        <img src="files/img/room-nav-06.jpg" alt="">
                        <a class="overlay height100 figcaption pos-r">
                            <span class="pos-a panel-title">
                                Deluxe
                                <span class="read-more"> Read More <i class="zmdi zmdi-chevron-right"></i></span>
                            </span>
                        </a>                             
                    </div>                       
                </div>                                                                            
            </div>
        </div>
    </div>
    
</div>