.wedding {

    .header-three-columns .header--social > ul > li > a i {
        color: #aba4b0;
    }

    .header-after {
        background-color: #ccb2cb;

    }

    .header-after .searchbox-trigger {
        background-color: #846992;
    }

    .footer-links,
    footer {
        background-color: #584661;
    }

    footer address, 
    footer address a,
    .footer-social-links ul li i{
        color: #8c7e92;
    }
}