
/*
** Table Of Contents

**bootstrap overrides
**vertical margins and paddings
**general styles
**utilites
**styled lists
**icons
**buttons 
**common sections styles
**light section
**grey section
**dark sections
**color section
**boxed layout
**template styles
**main menu (min 768px) styles
**main menu mobile styles
**blog
**widgets
**shortcodes
**plugins
  - Owl Carousel
  - FlexSlider
  - prettyPhoto
  - Easy pieChart
  - toTop
  - Isotope Portfolio

*/
/*
**bootstrap overrides
*/
/*5 columns for bootstrap*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}


/*
**general styles
*/
html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

::selection {
  color: #ffffff;
  background-color: #d94362;
}

::-moz-selection {
  color: #ffffff;
  background-color: #d94362;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  background-color: #ffffff;
  overflow: visible;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 16px;
}

blockquote,
.blockquote {
  font-size: 16px;
  position: relative;
  margin: 20px 0;
  padding: 10px 10px 10px 21px;
  color: #404040;
  border-left: 5px solid #d94362;
  font-style: italic;
}

blockquote h3 {
  font-size: 0.9em;
  font-style: normal;
}

blockquote h3:before,
blockquote h3:after {
  content: ' - ';
}

img {
  max-width: 100%;
}

section strong, footer strong {
  color: #404040;
  font-weight: 400;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  color: #808080;
  text-decoration: none;
  -webkit-transition: all 0.15s linear 0s;
  -moz-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  -ms-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}

a:focus {
  outline: medium none;
  text-decoration: none;
}

a img {
  -webkit-transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

iframe {
  border: none;
  max-width: 100%;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


/*vertical align*/
.display_table {
  display: table;
  width: 100%;
  height: 100%;
}

.display_table_cell {
  display: table-cell;
  vertical-align: middle;
}


/*
animated elements
*/
.to_animate {
  visibility: hidden;
}

.animated {
  /*IE7 fix*/
  visibility: visible !important;
}

/*flexslider mainslider styles*/
#mainslider {
  border-bottom: 9px solid #d94362;
}
#mainslider .flexslider {
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}
#mainslider .slides li:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  background-color: #372d3b;

}
#mainslider .slide_description_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 3;
}
#mainslider .slide_description_wrapper:before, #mainslider .slide_description {
  display: inline-block;
  vertical-align: middle;
}
#mainslider .slide_description_wrapper:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  margin-left: -2em;
}
#mainslider .highlight {
  background-color: #404040;
  color: #ffffff;
  padding: 0 5px 2px;
  display: inline-block;
}
#mainslider p:first-child {
  font-size: 30px;
  margin-bottom: 10px;
  color: #ffffff;
}
#mainslider h3 {
  font-size: 90px;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0 0 2px;
  padding: 0 0 2px;
  font-weight: 700;
  color: #d94362;
}
#mainslider .theme_button {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1100px) {
  #mainslider .slide_description_wrapper {
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  #mainslider h3 {
    line-height: 1.25;
  }
  #mainslider .theme_button {
    font-size: 1.3em;
  }
}
@media (max-width: 767px) {
  #mainslider {
    margin-top: 80px;
  }
  #mainslider .flex-control-nav {
    display: none;
  }
  #mainslider h3 {
    line-height: 1;
    font-size: 50px;
  }
  #mainslider .theme_button {
    font-size: 1.8em;
  }
}
@media (max-width: 500px) {
  #mainslider .slide_description_wrapper {
    left: -20%;
    right: -20%;
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}
#breadcrumbs {
  border-top: 10px solid #d94362;
}

#breadcrumbs h1 {
  display: inline;
  font-size: 70px;
}

#info > hr {
  margin: 0;
  padding-bottom: 20px;
}

#form h3 {
  font-size: 40px;
  margin: 18px 0 25px;
}

#form .theme_button {
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  #features .row,
  #features [class*="col-"] {
    display: block;
    width: auto;
  }

  #breadcrumbs h1 {
    font-size: 40px;
  }
}
aside .widget a {
  color: #808080;
}

aside .widget a:hover {
  color: #d94362;
}

@media (min-width: 768px) {
  /*sidebar with background*/
}
#partners-carousel {
  text-align: center;
  margin-bottom: 0;
}

#related-gallery-items-carousel {
  margin-top: 30px;
}

#slogan {
  background-image: url(../example/parallax/slogan.jpg);
}

#breadcrumbs {
  background-image: url(../example/parallax/breadcrumbs.jpg);
}

#team {
  background-image: url(../example/parallax/team.jpg);
}

#ministries {
  background-image: url(../example/parallax/ministries.jpg);
}

#skills {
  background-image: url(../example/parallax/skills.jpg);
}

#action {
  background-image: url(../example/parallax/action.jpg);
}

#contact {
  background-image: url(../example/parallax/map.jpg);
}

#footer + #copyright {
  border-top: 10px solid #d94362;
}

#copyright .navbar-brand {
  float: none;
  height: auto;
}
#copyright p {
  margin-bottom: 0;
}

#map {
  height: 500px;
}
#map img {
  max-width: inherit;
}
#map h3 {
  margin-top: 0;
}
#map p {
  line-height: 1.3;
}

/*
flexslider
*/
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0;
  position: relative;
  zoom: 1;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

/*.carousel li { margin-right: 5px; }*/
/* Direction Nav */
.flex-direction-nav {
  *height: 0;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  border: 2px solid #d94362;
  font-size: 0;
  color: transparent;
  text-align: center;
}

.flex-direction-nav .flex-prev {
  left: 10px;
}

.flex-direction-nav .flex-next {
  right: 10px;
  text-align: right;
}

.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px;
}

.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

.flex-direction-nav a:before {
  font-family: "fontello";
  font-size: 20px;
  content: '\e833';
  color: #404040;
  position: absolute;
  top: 5px;
  left: 12px;
}

.flex-direction-nav a.flex-next:before {
  content: '\e834';
  left: 14px;
}

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

.flex-pauseplay a:before {
  font-family: 'rt-icons';
  font-size: 20px;
  display: inline-block;
  content: "\e6a2";
}

.flex-pauseplay a:hover {
  opacity: 1;
}

.flex-pauseplay a.flex-play:before {
  content: "\e711";
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 32px;
  text-align: center;
  z-index: 2;
}

.flex-control-nav li {
  margin: 0 3px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 14px;
  height: 14px;
  display: block;
  background: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

.flex-control-paging li a:hover {
  border-color: #d94362;
}

.flex-control-paging li a.flex-active {
  border-color: #d94362;
}

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

