
.offers-holder {
    position: absolute;
    bottom: 0;
    left: 0;
}


.offers-holder .item-cover {
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 0;
    z-index: 2;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
    /* IE6-9 */
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    h3 {
        width: 90%;
        float: left;
    }

}

.offers-holder .item-cover::after {
    font-family: 'FontAwesome';
    content: '\f105';
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 38px;


}

.colum {
    float: left;

}


.offers-scroll .owl-item {
    float: left;
    width: 100%;
}

.offers-short-description {
    padding-bottom: 20px;
}
/* Mick */
.offers-scroll {
    .item{
    &:hover{
        .item-cover{
            background: $primary-color;
        }
        h3, .price, .click-link{
            color: #000;
        }
    }
}
}

.offers-scroll {
    .item-vertical{
    &:hover{
        .item-cover{
            background: $primary-color;
        }
        h3, .price, .click-link{
            color: #000;
        }
    }
}
}