
.snav-holder {
    .snav-holder-inner {
        display: inline-block;
    }
    .menu-toggle {
        padding-top: 4px;
        margin-right: 20px;
    }

    h2 {
        display: inline-block;
    }

    .horizontal-links {

        li {
            padding:5px 20px 0;

            a {
                font-size: 16px;
                text-transform: uppercase;
                font-family: $secondary-font-family;
                @include anim(.4s,linear);   
                border-bottom: 1px solid #fff;
            }

            &:hover {
                a {
                    border-bottom: 1px solid rgba($primary-color,.7);
                }   
            }
        }

        &.owl-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"] {
            top: -3px;
        }
    }
}